@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.container {
  width: 1200px;
  margin: auto;
}

/*header*/


.my-header {
  position: fixed;
  width: 100%;
  z-index: 99999999999;
  background-color: #08182B;
}

.my-list {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.my-list a {
  color: white;
}

.my-list a:hover {
  color: #A593E0;
}

/*start*/

.star {
  padding: 100px 0 100px 0;
  background-image: url(../img/background/car.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.star-head {
  padding: 0 0 30px 0;
  font-size: 50px;
}

.star-paragraph {
  max-width: 500px;
  padding: 0 0 30px;
  font-size: 24px;
  line-height: 35px;
}

.star-button {
  padding: 15px 70px;
  color: white;
  border: 3px solid #A593E0;
  border-radius: 100px;
  font-size: 24px;
  background-color: #A593E0;
}

.star-button:hover {
  background-color: #fff;
  color: #566270;
}

/*route*/

/*.route {
  background-image: url(../img/background/ellipse1.svg);
  background-repeat: no-repeat; 
}*/

.route-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.route-default {
  border-radius: 5px;
  background-color: #566270;
  padding: 60px 80px;
  text-align: center;
}

.route-default h2 {
  margin-top: 20px;
}


.stopping-main-head {
  font-size: 40px;
  margin-bottom: 40px;
}

.stopping-head {
  display: inline;
}

.stopping-list {
  display: flex;
  flex-wrap: wrap;
}

.stopping-list li {
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px;
  background-color: #80D4F6;
}


/*price*/

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 100px 0;
}

.price-text_head {
  padding: 0 0 40px 0;
  font-size: 50px;
}

.price-text_paragraph {
  max-width: 500px;
  font-size: 24px;
  line-height: 35px;
}

.price-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.card-default {
  text-align: center;
  width: 30%;
  padding: 40px;
  border-radius: 5px;
  background-color: #80D4F6;
  margin-bottom: 20px;
  margin-left: 20px;
}


.card-default-pay {
  background-color: #C4C4C4;
  color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  font-size: 40px;
  padding: 20px 0;
}


.card-default-name {
  margin-top: 20px;
  color: #000000;
}

/*time-work*/

.time-work {
  padding: 0 0 100px 0;
}

.price-text_head,
.time-work_head,
.services-head,
.contacts-head {
  padding: 0 0 40px 0;
  font-size: 50px;
}

.time-work_layout {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.time-work_first-side,
.time-work_second-side {
  width: 50%;
}

.time-work_first-side-head {
  margin-bottom: 20px;
}

.time-work_first-side-default-str {
  display: flex;
  justify-content: space-between;
}

.day {
  border-radius: 5px;
  background-color: #282C37;
  padding: 10px;
  margin: 0 20px 20px 0;
  color: white;
}

.day-off {
  background-color: #F16B6F;
  color: #282C37;
}

.time {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 0 20px 20px 0;
  background-color: #80D4F6;
}

/*services*/

.services {
  padding: 0 0 100px 0;
}

.services-head {
  padding: 0 0 40px 0;
}

.services_default-paragraph {
  padding: 20px;
  background-color: #80D4F6;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px;
}

.services_main-paragraph {
  padding: 15px;
  background-color: #282C37;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  margin-left: 40px;
  line-height: 35px;
}

.services_main-paragraph-note {
  padding: 15px;
  background-color: #A593E0;
  color: #282C37;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

/*contacts*/

.contacts {
  padding: 0 0 100px 0;
  background-image: url(../img/background/car-footer.jpg);
  background-repeat: no-repeat;
}

.contacts-head {
  padding: 0 0 40px 0;
}

.contacts-cards {
  display: flex;
  justify-content: space-between;
}

.contacts-card-default {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #80D4F6;
  border-radius: 5px;
  padding: 40px;
  width: 40%;
}

.contacts-card-default_head {
  width: 50%;
  font-size: 40px;
  color: #566270;
}

.contacts-card-default-around-img {
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
}

.contacts-card-default a {
  font-size: 40px;
  color: #000;
  font-weight: 800;
}

.contacts-card-default a:hover {
  opacity: 0.5;
}


.my-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.my-footer_head {
  text-align: center;
  margin-bottom: 50px;
  font-size: 38px;
}

.my-footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-footer_link-viber {
  background-color: #A593E0;
  padding: 15px;
  border-radius: 50%;
}

.my-footer_link-whatsap {
  background-color: #4FD4AD;
  padding: 15px;
  border-radius: 50%;
  margin: 0 20px;
}

.my-footer_link-telegram {
  background-color: #2CA5E0;
  padding: 15px;
  border-radius: 50%;
}


.my-footer_link-telegram:hover,
.my-footer_link-whatsap:hover,
.my-footer_link-viber:hover {
  opacity: 0.7;
}

.mob-header {
  display: none;
}



@media only screen and (max-device-width:1190px) {
  .container {
    padding: 0 40px;
  }

  .star {
    margin: 100px 0;
  }

  .route,
  .route-container,
  .price,
  .time-work,
  .services,
  .my-footer_link {
    margin-bottom: 100px;
  }

  .container-two {
    padding-left: 40px;
  }
}


@media only screen and (max-device-width:768px) {
  .my-header {
    display: none;
  }

  .mob-header {
    z-index: 999999999999999999999999999;
    display: block;
    position: absolute;
    top: 0;
    background-color: #08182B;
    position: fixed;
  }

  .my-list {
    flex-direction: column;

  }

  .my-list li:nth-child(1) {
    display: flex;
    justify-content: space-between;
    border: none;
  }

  .my-list li {
    padding: 20px 20px;
    font-size: 25px;
  }
}


@media only screen and (max-device-width: 480px) {

  .my-list li {
    font-size: 40px;
    padding: 40px;
  }

  .star {
    background-image: none;
    margin-bottom: 200px;
  }

  .star-head {
    margin-bottom: 50px;
    font-size: 80px;
  }

  .star-paragraph {
    max-width: 100%;
    font-size: 45px;
    margin-bottom: 50px;
    line-height: 60px;
  }

  .star-button {
    font-size: 60px;
    padding: 30px 100px;
  }

  .route-container {
    flex-direction: column;
  }

  .route-default {
    width: 70%;
  }


  .route-default h2 {
    font-size: 60px;
  }

  .route-default img {
    width: 100px;
  }

  .rorate-next-icon {
    width: 70px;
    padding: 25px 0;
    transform: rotate(90deg);
  }

  .stopping-main-head {
    font-size: 80px;
  }

  .stopping-head {
    font-size: 50px;
  }

  .stopping-list li {
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }

  .stopping-list p {
    font-size: 40px;
  }

  .stopping-list {
    margin-bottom: 60px;
  }

  .price {
    flex-direction: column;
    align-items: flex-start;
  }

  .price-text_head {
    font-size: 80px;
  }


  .price-text_paragraph {
    font-size: 45px;
    margin-bottom: 50px;
    line-height: 60px;
    max-width: 100%;
  }

  .card-default {
    width: 40%;
  }

  .price-card {
    width: 100%;
    justify-content: space-between;
  }

  .card-default-pay {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .card-default-name {
    font-size: 60px;
  }

  .time-work_layout {
    flex-direction: column;
  }

  .time-work_first-side {
    margin-bottom: 40px;
  }

  .time-work_first-side,
  .time-work_second-side {
    width: 100%;
  }

  .time-work_head {
    font-size: 80px;
  }

  .time-work_first-side-head {
    font-size: 60px;
  }

  .day,
  .time {
    font-size: 40px;
    padding: 20px;
  }

  .services {
    display: none;
  }


  .contacts-head {
    font-size: 80px;
  }

  .contacts-cards {
    flex-direction: column;
  }

  .contacts-card-default {
    margin-bottom: 40px;
    width: 90%;
  }

  .contacts-card-default-around-img {
    margin-bottom: 40px;
  }

  .contacts-card-default-around-img img {
    width: 100px;
    padding: 40px;
  }

  .contacts-card-default_head {
    margin-left: 50px;
    font-size: 90px;
  }

  .contacts-card-default a {
    font-size: 70px;
  }

  .my-footer_head {
    font-size: 80px;
  }

  .my-footer_link img {
    width: 80px;
    padding: 20px;
  }
}



/*gamberger*/



#menuToggle {
  display: block;
  position: relative;
  padding: 20px;
  z-index: 10000;
  margin-left: 90%;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}


#menuToggle span {
  display: block;
  width: 70px;
  height: 10px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #A593E0;
}


#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}


#men-gamburger {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input:checked~ul {
  transform: none;
}

.none {
  display: none;
}
